Cookies
Cookies-journal
.git/

Backups/
Cache/
CachedData/
GPUCache/
clang/
Local Storage/
neo4j/
old/
data/
obj/
User/
machineid
Preferences
storage.json
second/
test/

*.joernIndex/

*.tex

*.pyc
*.dot

*.log
*.sock
