Cookies
Cookies-journal
.git/

Backups/
Cache/
CachedData/
GPUCache/
clang/
Local Storage/
neo4j/
old/
data/
obj/
User/
machineid
Preferences
storage.json
second/
test/
java/
CachedExtensions/
languagepacks.json
.vscode/

*.joernIndex/

*.tex

*.pyc
*.dot

*.log
*.sock
null


## test source codes
locate_related_logs_1.py
locate_related_logs.py
analyze_test.py
database_api.py
demo.py
fetch_version_archieve_from_github.py
plot.pyc
statistics.py
test.py